In [17]:
from xml.dom.minidom import Entity
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('datasets/Fuentes_Consumo_Energia.csv')

In [7]:
df.columns

Index(['Entity', 'Code', 'Year', 'Coal_Consumption_EJ', 'Gas_Consumption_EJ',
       'Geo_Biomass_Other_TWh', 'Hydro_Generation_TWh',
       'Nuclear_Generation_TWh', 'Solar_Generation_TWh', 'Wind_Generation_TWh',
       'Oil_Consumption_EJ'],
      dtype='object')

In [12]:
mask = df['Entity']=='Europe'
indice_max = df['Hydro_Generation_TWh'][mask].idxmax()
indice_max

1393

In [14]:
year = df.loc[indice_max,'Year']
year

2013

In [15]:
df.loc[df['Hydro_Generation_TWh'][df['Entity']=='Europe'].idxmax(),'Year']

2013

In [41]:
n1 = np.array([[0,0,0],[1,1,1],[2,2,2],[3,3,3],[4,4,4],[5,5,5]])
n2 = np.array([[6,7],[8,6],[7,8]])
n3 = np.array([[9,9],[10,10]])

In [42]:

if n1.shape[1] == n2.shape[0] & n2.shape[1] == n3.shape[0]:

s

ValueError: operands could not be broadcast together with shapes (6,3) (3,2)

In [36]:
pd.read_csv('datasets/Fuentes_Consumo_Energia.csv')
df['Consumo_Total'] = df['Geo_Biomass_Other_TWh'] + df['Hydro_Generation_TWh'] + df['Nuclear_Generation_TWh'] +df['Solar_Generation_TWh'] +df['Wind_Generation_TWh'] + 277.778*(df['Coal_Consumption_EJ'] + df['Gas_Consumption_EJ'] + df['Oil_Consumption_EJ'])
mask_year = df['Year']==2019
mask_entity = df['Entity']=='World'
resultado = df[mask_year & mask_entity]['Consumo_Total']
resultado_aux = resultado.iloc[0]
resultado_final = "{:.2f}".format(resultado_aux)
r = float(resultado_final)
#result = round(float(resultado_final),2)
#print(resultado_aux)
#print(type(resultado_aux))
print(resultado_final)

146585.30

In [45]:
df1 = pd.read_csv('datasets/GGAL - Cotizaciones historicas.csv')
df1.shape

(7779, 8)

In [46]:
df1.head()

  especie       fecha  apertura   maximo   minimo   cierre  volumen  timestamp
0    GGAL  02/01/1991   0.02338  0.02338  0.02313  0.02338        0  662781600
1    GGAL  03/01/1991   0.02289  0.02289  0.02251  0.02289        0  662868000
2    GGAL  04/01/1991   0.02251  0.02289  0.02251  0.02251        0  662954400
3    GGAL  07/01/1991   0.02202  0.02202  0.02202  0.02202        0  663213600
4    GGAL  08/01/1991   0.02128  0.02177  0.02128  0.02128        0  663300000

In [50]:
round(df1['maximo'].sum(),4)

202185.8933

In [51]:
df10 = pd.read_csv(r'datasets/Tabla1_ejercicio.csv', delimiter=';', encoding='latin-1')
df11 = pd.read_csv(r'datasets/Tabla2_ejercicio.csv', delimiter=';', encoding='latin-1')

In [52]:
df11_new = df11.merge(df10, on='pers_id', how='left')

In [53]:
df11_new = df11_new.drop_duplicates(subset=['pers_id' , 'periodo'])

In [56]:
mascara = df11_new['sexo']=='M'
round(df11_new[mascara]['score'].mean(),2)

772.28

In [57]:
mascara2 = df11_new['sexo']=='F'
round(df11_new[mascara2]['score'].mean(),2)

630.59

In [65]:
df10 = pd.read_csv(r'datasets/Tabla1_ejercicio.csv', delimiter=';', encoding='latin-1')
df11 = pd.read_csv(r'datasets/Tabla2_ejercicio.csv', delimiter=';', encoding='latin-1')
df11_new = df11.merge(df10, on='pers_id', how='left')
df11_new = df11_new.drop_duplicates(subset=['pers_id' , 'periodo'])
mascara = df11_new['sexo']=='M'
m = df11_new[mascara]['score'].mean()
mascara2 = df11_new['sexo']=='F'
f = df11_new[mascara2]['score'].mean()
print ((f,m))

(630.5886271001093, 772.2811111111112)

In [93]:
from Lista import Lista

In [95]:
Lista.agregarElemento(1,2,3)

TypeError: Lista.agregarElemento() takes 2 positional arguments but 3 were given

In [81]:
pi = po()

In [90]:
lista = Lista()

In [92]:
lista = [1,2,3,4]
lista.agregarElemento(1)

AttributeError: 'list' object has no attribute 'agregarElemento'

In [73]:
for i in lista:
    Lista.agregarElemento(i)

TypeError: Lista.agregarElemento() missing 1 required positional argument: 'dato'